@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
    --text1-color: white;
    --text2-color: #d2d2d2;
    --text3-color: red;

    --bg-color: black;
    --btn-color: red;

    --font-family1: "Roboto";
}

body {
    background-color: var(--bg-color);
    color: var(--text1-color);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../assets/crew_main.jpeg") center center;
    background-size: cover;

    color: var(--text1-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
    z-index: 1;
}

.container > * {
    position: relative;
    z-index: 2;
}

.principal__textos {
    display: flex;
    flex-direction: column;
    padding: 3% 20%;
    gap: 2rem;
    text-align: center;
    font-family: var(--font-family1);
}

.principal__textos__titulo {
    font-size: 2rem;
}

.ancora {
    text-decoration: none;
}

.destaque {
    color: var(--text3-color);
}

.principal__img {
    display: flex;
    justify-content: center;
    width: 100%;
    object-fit: none;
    position: -ms-page;
}

.principal__textos__botao {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.botoes {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.botao {
    background-color: var(--btn-color);
    color: var(--text1-color);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: block;
}

.botao:hover {
    background-color: var(--text1-color);
    color: var(--btn-color);
}

.texto_aviso {
    color: var(--text2-color);
    font-size: 1.1rem;
    font-weight: 500;
}

.secundario {
    background-image: url("../assets/ocean.jpeg");
    width: fit-content;
    flex-direction: row;

    padding: 2rem;
    gap: 2rem;
    border-top: 0.2rem solid var(--bg-color);

    color: var(--text1-color);
    font-family: var(--font-family1);
}

.secundario__img {
    width: 50%;
    object-fit: cover;
    border: 0.2rem solid var(--bg-color);
}

.secundario__textos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.secundario__textos__h1 {
    font-size: 3rem;
}

.secundario__textos__h2 {
    font-size: 1.5rem;
    color: var(--text2-color);
}

.terciario {
    background-image: url("../assets/wanted_posters.jpg");
}

.quaternario {
    background-image: url("../assets/crew_sunshine.jpg");
}

.rodape {
    background-color: var(--bg-color);
    color: var(--text2-color);
    text-align: center;
    font-family: var(--font-family1);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.rodape__img {
    height: auto;
    width: 50%;
}

.rodape__lista {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;

    list-style: none;
}

.rodape__lista__link {
    color: var(--text1-color);
    text-decoration: none;
}

.rodape__textos {
    color: var(--text2-color);
    width: 80%;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-bottom: 2rem;
}

.rodape__lista__link:hover {
    color: var(--text2-color);
}

.rodape__lista__link:active {
    color: var(--text3-color);
}
